.hero {
  margin-top: var(--size-05);
  background-image: url('../images/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: var(--size-03);
  padding-bottom: 15rem;

  & p {
    margin-bottom: var(--size-05);
  }
}

.service-container {
  max-width: unset;
}

.training-container,
.workshop-container {
  max-width: unset;
  background-color: var(--clr-primary-400);
  background-image: url('../images/zigzag.svg');
  background-size: contain;
  background-position: top;
  background-repeat: repeat-x;
}

.class-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: unset;
  padding-inline: 0;
}

/* .container {
  container-type: size;
  container-name: class-container;
}

@container class-container (max-with:1005px ) {
  .class-container {
    display: flex;
    background-color: coral;
  }
} */
.workshop-container {
  background-color: var(--clr-accent-violet);
  background-image: url('../images/diagonal.svg');
}

.services {
  margin-inline: auto;
  max-width: min(97.125em - var(--size-02));
  padding-inline: var(--size-02);
  margin-block: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-01);
  padding: var(--size-02) 0;

  & .card {
    padding: var(--size-02) var(--size-0250);

    & h1 {
      padding-bottom: 1rem;
    }
    & p {
      padding-top: var(--size-02);
      padding-bottom: var(--size-05);
    }

    & .btn {
      background-color: var(--clr-primary-400);
      color: var(--clr-basic-100);
    }
  }

  & .court-image {
    background-image: url('../images/court.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    margin: var(--size-03);
  }
}

.trainings,
.workshops {
  margin-inline: auto;
  max-width: min(97.125em - var(--size-02));
  padding-inline: var(--size-02);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-01);
  padding: var(--size-05) 0 0;
  color: var(--clr-basic-100);

  & .player-image {
    position: relative;
    background-image: url('../images/player_1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  & .card {
    padding-block: var(--size-02) var(--size-05);
    padding-inline: 0 var(--size-03);

    & p {
      padding-top: var(--size-02);
      padding-bottom: var(--size-03);
    }
  }
}

.classes-wrapper {
  & .card {
    /* max-width: min(48.5625em - var(--size-02)); */
    padding: var(--size-05);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;

    & h1 {
      padding-bottom: var(--size-01);
    }
    & p {
      padding-top: var(--size-02);
      padding-bottom: var(--size-05);
    }

    & .btn {
      background-color: var(--clr-primary-400);
      color: var(--clr-basic-100);
    }
  }
}

& .left {
  margin-left: auto;
}

& .wrapper-left {
  background-color: var(--clr-accent-pink);
  background-image: url('../images/wave.svg');
  background-repeat: no-repeat;
}

& .wrapper-right {
  background-color: var(--clr-accent-blue);
  background-image: url('../images/dots.svg');
}

.workshops {
  color: var(--clr-primary-400);
  padding: var(--size-05) 0 0;

  gap: var(--size-03);

  & .btn {
    background-color: var(--clr-primary-400);
    color: var(--clr-basic-100);
  }

  & .card {
    padding-block: var(--size-02) var(--size-05);
    padding-inline: var(--size-02);
  }

  & .player-image {
    background-image: url('../images/player_2.png');
  }
}
