header {
  background-color: var(--clr-primary-400);
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;

  & .nav {
    max-width: min(97.125em - var(--size-02));

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--size-02);
    padding: 0rem 2rem;
    margin-inline: auto;

    & img {
      transform: translateY(25%);
      width: 8rem;
    }

    & ul {
      padding: 0;
      margin: 0;
      display: flex;

      gap: var(--size-01);

      & li {
        white-space: nowrap;
      }
      & li:hover {
        background-color: var(--clr-primary-200);
        & a {
          color: var(--clr-basic-900);
        }
      }

      & li:active {
        background-color: var(--clr-primary-300);
      }

      & li.active {
        border-bottom: 0.2rem solid var(--clr-primary-500);
      }

      & a {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 2rem 1rem;
        color: var(--clr-basic-100);
      }
    }
  }
}
